.jobContainer {
  padding: 1em;
  float: right;
  width: 100%;
}

.jobCard {
  margin: 1em;
  padding: 1em;
  border: 5px solid lightgray;
  border-radius: .5em;
}

#details {
  float: right;
  color: white;
  background-color: #3852d4;
  border-radius: .5em;
}

#details:focus {
  outline: none;
}

h2 {
  margin-left: .8em;
}
