button {
  color: white;
  background-color: #3852d4;
  border-radius: .5em;
}

button:focus {
  outline: none;
}

#titleTerm {
  border-radius: .5em;
  width: 100%;
  padding: .5em;
  margin-bottom: .5em;
}

#titleTerm:focus {
  outline: none;
}
